
// Descriptive Color Variables 

$grey: #777;
$green: #58e1c1;
$blue: #51ddfc;
$purple: #927bc1;
$white: #fff;

// Functional Color Variables

$color-text-base: $grey;
$color-accent-green: $green;
$color-accent-blue: $blue;
$color-background-purple: $purple;
$color-text-btn: $white;

// Breakpoint Variables

$break-xs: 575px;
$break-s:  576px;
$break-m:  768px;
$break-l:  992px;




